<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

	
	<style type="text/css">
		body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Calibri"; font-size:x-small }
		a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  } 
		a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  } 
		comment { display:none;  } 
	</style>
	
</head>

<body style="width: 700px;table-layout: fixed;">
<table cellspacing="0" border="0">
	<colgroup width="78"></colgroup>
	<colgroup width="81"></colgroup>
	<colgroup width="63"></colgroup>
	<colgroup width="104"></colgroup>
	<colgroup span="8" width="63"></colgroup>
	<tr>
		<td style="border-top: 2px solid #000000; border-left: 2px solid #000000" height="19" align="left" valign=top><font face="Times New Roman" color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000" align="left" valign=top><b><font face="Verdana" size=1 color="#000000"><br></font></b></td>
		<td style="border-top: 2px solid #000000" align="left" valign=top><b><font face="Verdana" size=1 color="#000000"><br></font></b></td>
		<td style="border-top: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=top><b><font face="Verdana" size=1 color="#000000"><br></font></b></td>
		<td style="border-top: 2px solid #000000" align="left" valign=top><b><font face="Verdana" size=1 color="#000000"><br></font></b></td>
		<td style="border-top: 2px solid #000000" align="left" valign=top><b><font face="Verdana" size=1 color="#000000"><br></font></b></td>
		<td style="border-top: 2px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-left: 2px solid #000000" height="26" align="center" valign=top><b><font face="Times New Roman" color="#000000"><br></font></b></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-right: 2px solid #000000" align="left" valign=top><b><font face="Verdana" size=4 color="#000000"><br></font></b></td>
		<td style="border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=8 align="center" valign=top><b><font face="Verdana" size=4 color="#000000">ORDEN DE PROYECTO</font></b></td>
		</tr>
	<tr>
		<td style="border-left: 2px solid #000000" height="27" align="center" valign=top><b><font face="Times New Roman" color="#000000"><br></font></b></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td style="border-right: 2px solid #000000" align="left" valign=top><b><font face="Verdana" size=4 color="#000000"><br></font></b></td>
		<td style="border-bottom: 2px solid #000000" align="center" valign=top><b><font face="Verdana" size=4 color="#000000"><br></font></b></td>
		<td style="border-bottom: 2px solid #000000" align="center" valign=top><b><font face="Verdana" size=4 color="#000000"><br></font></b></td>
		<td style="border-bottom: 2px solid #000000" align="center" valign=top><b><font face="Verdana" size=4 color="#000000"><br></font></b></td>
		<td style="border-bottom: 2px solid #000000" align="center" valign=top><b><font face="Verdana" size=4 color="#000000"><br></font></b></td>
		<td style="border-bottom: 2px solid #000000" align="center" valign=top><b><font face="Verdana" size=4 color="#000000"><br></font></b></td>
		<td style="border-bottom: 2px solid #000000" align="center" valign=top><b><font face="Verdana" size=4 color="#000000"><br></font></b></td>
		<td style="border-bottom: 2px solid #000000" align="center" valign=top><b><font face="Verdana" size=4 color="#000000"><br></font></b></td>
		<td style="border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=4 height="19" align="center" valign=top><b><font face="Arial" color="#000000">SISTEMA DE GESTI&Oacute;N DE CALIDAD</font></b></td>
		<td style="border-top: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=bottom><font face="Arial" size=1 color="#000000" >Fecha de vigencia:</font></td>
		<td style="border-top: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=bottom><font face="Arial" size=1 color="#000000">Edici&oacute;n N&deg;: </font></td>
		<td style="border-top: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=bottom><font face="Arial" size=1 color="#000000">Formulario N&ordm;</font></td>
		<td style="border-top: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=bottom><font face="Arial" size=1 color="#000000">P&aacute;gina N&deg;:</font></td>
		</tr>
	<tr>
		<td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=4 height="20" align="center" valign=top><b><font face="Arial" color="#000000">ISO 9001: 2008</font></b></td>
		<td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=bottom><b><font face="Arial" color="#000000">01.09.2014</font></b></td>
		<td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=bottom sdval="1" sdnum="1033;"><b><font face="Arial" color="#000000">1</font></b></td>
		<td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=bottom><b><font face="Arial" color="#000000">FO708 F2</font></b></td>
		<td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=bottom><b><font face="Arial" color="#000000">1 de 1</font></b></td>
		</tr>
	<tr>
		<td height="20" align="left" valign=top><font color="#000000"><br></font></td>
		<td align="left" valign=top><font color="#000000"><br></font></td>
		<td align="left" valign=top><font color="#000000"><br></font></td>
		<td align="left" valign=top><font color="#000000"><br></font></td>
		<td align="left" valign=top><font color="#000000"><br></font></td>
		<td align="left" valign=top><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" rowspan=2 height="61" align="left" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">N&deg; Solicitud</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000" rowspan=2 align="left" valign=middle><b><font size=20 color="#FF0000"><br></font><%=resultado1%></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" rowspan=2 align="center" valign=middle sdval="16" sdnum="1033;"><b><font size=20 color="#FF0000">17</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Solicitado por</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=8 align="left" valign=middle><b><font size=4 color="#0070C0"><%=resultado230%></font></b></td>
		</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Cod.  Vendedor</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=middle><font size=5 color="#0070C0">-------</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=3 align="center" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Fecha Entrega O.P.</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=3 align="center" valign=middle sdnum="1033;1033;M/D/YYYY"><b><font size=4 color="#0070C0"><%=resultado203%></font></b></td>
		</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=3 rowspan=2 height="39" align="left" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Fecha Sugerida para Entrega de Cotizacion</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=3 rowspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;1033;M/D/YYYY"><font size=4 color="#0070C0"><%=resultado222%></font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=3 rowspan=2 align="center" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Fecha Entrega Proyecto (LLenado por Ing. y Proyectos)</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=3 rowspan=2 align="center" valign=middle bgcolor="#FFFFFF" sdnum="1033;1033;M/D/YYYY"><font size=4 color="#00B050">NAP</font></td>
		</tr>
	<tr>
		</tr>
	<tr>
		<td height="20" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=4 rowspan=2 height="39" align="center" valign=middle bgcolor="#F2F2F2"><font color="#000000">Observaciones por no cumplimiento en la Fecha de Entrega (LLenado por Ing. y Proyectos)</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=8 rowspan=2 align="left" valign=top><font face="Tahoma" color="#00B050">NAP</font></td>
		</tr>
	<tr>
		</tr>
	<tr>
		<td height="20" align="center" valign=middle><font color="#000000"><br></font></td>
		<td align="center" valign=middle><font color="#000000"><br></font></td>
		<td align="center" valign=middle><font color="#000000"><br></font></td>
		<td align="center" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=top><font face="Tahoma" color="#0070C0"><br></font></td>
		<td align="left" valign=top><font face="Tahoma" color="#0070C0"><br></font></td>
		<td align="left" valign=top><font face="Tahoma" color="#0070C0"><br></font></td>
		<td align="left" valign=top><font face="Tahoma" color="#0070C0"><br></font></td>
		<td align="left" valign=top><font face="Tahoma" color="#0070C0"><br></font></td>
		<td align="left" valign=top><font face="Tahoma" color="#0070C0"><br></font></td>
		<td align="left" valign=top><font face="Tahoma" color="#0070C0"><br></font></td>
		<td align="left" valign=top><font face="Tahoma" color="#0070C0"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 height="25" align="left" valign=middle bgcolor="#F2F2F2"><b><font size=3 color="#000000">NOMBRE PROYECTO</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=10 align="center" valign=middle><font color="#000000"><%=resultado223%></font></td>
		</tr>
	<tr>
		<td height="20" align="left" valign=top><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=8 height="29" align="left" valign=middle bgcolor="#F2F2F2"><b><font size=3 color="#000000">DATOS CLIENTE</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Cod. Cliente</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 align="center" valign=middle><font size=4 color="#0070C0"><%=resultado228%></font></td>
		</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 height="19" align="left" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Nombre Cliente:</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=10 align="center" valign=middle bgcolor="#F2F2F2"><b><font color="#000000"><%=resultado202%></font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 height="19" align="left" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Area:</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=10 align="center" valign=middle bgcolor="#F2F2F2"><b><font color="#000000"><%=resultado225%></font></b></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 height="20" align="left" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Fecha Visita:</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=10 align="center" valign=middle bgcolor="#F2F2F2"><b><font color="#000000"><%=resultado226%></font></b></td>
		</tr>
	<tr>
		<td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="center" valign=bottom><font color="#000000"><br></font></td>
		<td align="center" valign=bottom><font color="#000000"><br></font></td>
		<td align="center" valign=bottom><font color="#000000"><br></font></td>
		<td align="center" valign=bottom><font color="#000000"><br></font></td>
		<td align="center" valign=bottom><font color="#000000"><br></font></td>
		<td align="center" valign=bottom><font color="#000000"><br></font></td>
		<td align="center" valign=bottom><font color="#000000"><br></font></td>
		<td align="center" valign=bottom><font color="#000000"><br></font></td>
		<td align="center" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=12 height="25" align="left" valign=bottom bgcolor="#F2F2F2"><b><font size=4 color="#000000">DESCIPCION DEL PROYECTO SOLICITADO (Entregar la informaci&oacute;n lo m&aacute;s detallado posible)</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=12 height="98" align="left" valign=top><font face="Tahoma" color="#0070C0"><%=resultado19 %></font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=12 height="20" align="center" valign=middle bgcolor="#F2F2F2"><font size=1 color="#000000"> Dimensiones, ancho correa, material, granulometria, pH caudal, temperatura, presion, flanges, toneladas pasadas, altura, etc</font></td>
		</tr>
	<tr>
		<td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=4 height="24" align="center" valign=bottom bgcolor="#F2F2F2"><b><font size=3 color="#000000">INFORMACION ADJUNTA</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000" align="center" valign=bottom bgcolor="#F2F2F2"><b><font size=3 color="#000000">SI</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=bottom bgcolor="#F2F2F2"><b><font size=3 color="#000000">NO</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=6 align="center" valign=bottom bgcolor="#F2F2F2"><b><font size=3 color="#000000">OBSERVACIONES</font></b></td>
		</tr>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=4 height="21" align="left" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Muestra Fisica </font></b></td>
		<td style="border-bottom: 1px solid #000000; border-left: 2px solid #000000" align="center" valign=middle><font face="Tahoma" size=3 color="#0070C0">
            <% if (resultado7=='SI'){ %> 
            X
            <% } %>
            </font></td>
		<td style="border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle><font face="Tahoma" size=3 color="#0070C0">
            <% if (resultado7 != 'SI'){ %>
            X
            <% } %>
            </font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=6 align="left" valign=middle><font face="Tahoma" color="#0070C0">NAP</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=4 height="21" align="left" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Fotografias</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000" align="center" valign=middle><font face="Tahoma" size=3 color="#0070C0">
            <% if (resultado10 == 'SI'){ %>
            X
            <% } %>
            </font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle><font face="Tahoma" size=3 color="#0070C0">
            <% if (resultado10 != 'SI'){ %>
            X
            <% } %>
            </font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=6 align="left" valign=middle><font face="Tahoma" color="#0070C0">NAP</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=4 height="21" align="left" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Planos Adjuntos</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000" align="center" valign=middle><font face="Tahoma" size=3 color="#0070C0">
            <% if (resultado13 == 'SI'){ %>
            X
            <% } %>
            </font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle><font face="Tahoma" size=3 color="#0070C0">
            <% if (resultado13 != 'SI'){ %>
            X
            <% } %>
            </font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=6 align="left" valign=middle><font face="Tahoma" color="#0070C0">NAP</font></td>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=4 height="21" align="left" valign=middle bgcolor="#F2F2F2"><b><font color="#000000">Levantamiento y/o Medidas</font></b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000" align="center" valign=middle><font face="Tahoma" size=3 color="#0070C0">
            <% if (resultado16 == 'SI'){ %>
            X
            <% } %>
            </font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" align="center" valign=middle><font face="Tahoma" size=3 color="#0070C0">
            <% if (resultado16 != 'SI'){ %>
            X
            <% } %>
            </font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=6 align="left" valign=middle><font face="Tahoma" color="#0070C0">NAP</font></td>
		</tr>
</table>
<!-- ************************************************************************** -->
</body>

</html>
